# Evitar subir dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Configuración de entorno
.env

# Archivos de logs
logs
*.log
logs/

# Directorios de compilación
dist/
build/

# Dependencias de TypeScript (si usas TypeScript)
*.tsbuildinfo

# Carpetas de testing
coverage/
